name: Build & test with native-image
on:
  pull_request:
    types:
      - closed
jobs:
  build:
    if: github.event.pull_request.merged == true
    runs-on: ubuntu-latest
    name: Java ${{ matrix.java_version }}
    strategy:
      matrix:
        java_version:
          - '11'
          # - '17'
    steps:
      - uses: actions/checkout@v3
      - uses: graalvm/setup-graalvm@v1
        with:
          version: '22.3.0'
          java-version: ${{ matrix.java_version }}
          components: 'native-image'
          github-token: ${{ secrets.GB_TOKEN }}
      - name: Build & test with native-image
        run: |
          echo "GRAALVM_HOME: $GRAALVM_HOME"
          echo "JAVA_HOME: $JAVA_HOME"
          java --version
          gu --version
          native-image --version
          mvn verify -Prelease -Dnative -Dgpg.skip
